# Docker
app/churn-risk-api.tar
*.tar

# Python
__pycache__/
*.pyc
.env

# K3s / Kubernetes
*.log

# IDE
.idea/
.vscode/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/*.tfvars

# Combined Terraform
combined/terraform/.terraform/
combined/terraform/.terraform.lock.hcl
combined/terraform/terraform.tfstate
combined/terraform/terraform.tfstate.backup